# Any path containing "target"
target

# IntelliJ project files
*.iml
.idea/

# LMS output
data/*
test-out/epfl/*
# Do not ignore .check files
!test-out/epfl/*.check

# Misc
lib_managed
.DS_Store
local.properties
project/boot
project/build/target